@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body#top {
    background: url('/images/bg.svg');
}

.home-info {
    background: #fff2f7;
    color: #333;
    display: block;
    padding-bottom: 60px;
    margin-bottom: 10px;
}

.home-info header h1 {
    color: #333;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    padding: 20px 20px;
}

.home-info .entry-content {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.marquee {
    position: relative;
    height: 50px;
    overflow: hidden;
    background: #d8cbe3;
    color: black;
}

div.marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
}

.contact a {
    margin: 10px;
}

.social-icons {
    margin: 30px 0;
}

footer.entry-footer > * {
    text-align: center;
    display: block;
}

footer.entry-footer p a {
    display: inline-block;
}

.catbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.catbar img {
    position: relative;
    margin: 0 auto;
}

.playfair-bold {
    color: #333;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.copyright {
    font-size: 10px;
    color: #d8cbe3;
    text-align: center;
}

a {
    color: hotpink;
}


a:hover {
    color: black;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}