{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
{{- $extended := (resources.Match "js/extended/*.js") | resources.Concat "assets/js/extended.js" | resources.Minify }}
{{- $javascript := (slice $extended) | resources.Concat "assets/js/javascript.js"  }}
<script defer crossorigin="anonymous" src="{{ $javascript.RelPermalink }}"></script>